
@{
    ViewBag.Title = "TimKiemSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- products -->
<section class="our-products-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title">
                <span>Tìm kiếm</span>
                <h2>Kết quả tìm kiếm</h2>
                <p>
                    Có 8 kết quả cho từ khoá "Rượu vang"
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/1.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>Burgundy</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$229.50</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/2.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>Red Wine</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$299.70</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/3.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>Goose Berry</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$299.70</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/4.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>La Katina</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$259.70</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/5.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>Burgundy</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$229.50</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/6.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>La Katina</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$259.50</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/8.png" alt="Product">
                    </div>
                    <div class="product-details">

                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>La Katina</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$259.50</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-product single-products">
                    <div class="product-img">
                        <img src="~/wwwroot/img/shop/8.png" alt="Product">
                    </div>
                    <div class="product-details">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham")">Xem chi tiết</a>
                        <h3>La Katina</h3>
                        <ul>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span>$259.50</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="pagenavigation-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li class="page-item">

                                <a class="page-link page-links" href="@Url.Action("XemSanPhamTheoDanhMuc","SanPham")">
                                    <i class="flaticon-left-arrow"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="@Url.Action("XemSanPhamTheoDanhMuc","SanPham")">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("XemSanPhamTheoDanhMuc","SanPham")">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("XemSanPhamTheoDanhMuc","SanPham")">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("XemSanPhamTheoDanhMuc","SanPham")">
                                    <i class="flaticon-right-arrow"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

